/* common css start  */
*{
  margin: 0;
  padding: 0;
} 

a{
  text-decoration: none;
display: inline-block;
}
ul{
  list-style: none;
}
/* .menu ul li:first-child a{
  background-color: orange;
  color: red;
}
 .menu ul li:last-child a{
  background-color: orange;
  color: red;
}  */
  
/* .menu ul li:nth-child(5) a{
  background-color: orchid;
  color: #FFF;
}  */

/* common css end  */

/* Practice 6  */
.container{
  background: url(../images/banner.jpg);
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 1;
}
.container::after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.315);
  z-index: -1;
}
.btn{
  position: absolute;
  top: 500px;
  left: 150px;
  background-color: rgba(0, 0, 0, 0.459);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border: 1px solid #FFf;

}

.btn a{
  font-size: 20px;
  font-weight: bold;
  padding: 15px 50px;
  color: white;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px
}
.btn a:hover{
  background-color: green;
  color: #FFf;
;
}
.menu{
  background-color: White;
  padding: 30px 0;
}
.menu ul{
  text-align: center;
}
.menu ul li {
  display: inline-block;
  position: relative;
}
.menu ul li a{
  font-size: 18px;
  font-weight: bold;
  font-family: sans-serif;
  text-transform: capitalize;
  padding: 10px 20px;
  color: black;
  display: block;
}

.menu ul li ul{
  position: absolute;
  top: 50px;
  left: 0;
  width: 170px;
  background-color: #DDDEDF;
  display: none;
}
.menu ul li:hover ul{
  display: block;
}
.menu ul li ul li{
  width: 100%;
}
.menu ul li li a:hover{
  background-color: #B3D33B;
}
.box1{
  position: relative;
z-index: 1;
}
.box1::after{
  position: absolute;
  content: " ";
  top: -7px;
  left: 13px;
  background-color: #DDDEDF;
  width: 20px;
  height: 20px;
  rotate: 42deg;
  z-index: -1;
} 
/* Practice 5  */
/* .menu {
  background-color: cornflowerblue;
}
.menu ul{
  text-align: center;
}
.menu ul li {
  display: inline-block;
  margin: 0 -2px;
  position: relative;
}
.menu ul li a{
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
  color: #fff;
  padding: 10px 20px;
  background-color: transparent;
  position: relative;
  display: block;
}
.menu ul li a:hover{
  background-color: orange;
}
.menu ul li a::after{
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: red;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.menu ul li a:hover::after{
  width: 100%;
}
.menu ul li ul{
  position: absolute;
  top: 43px;
  left: -43px;
  width: 200px;
  background-color:gray;
  display: none;
}
.menu ul li:hover > ul{
  display: block;
}
.menu ul li ul li {
width: 100%;
position: relative;
}
.menu ul li ul li ul{
  position: absolute;
  top: 0;
  left: 200px;
} */


/* practice 04 */
/* .menu{
  background-color: tomato;
}
.menu ul{
  text-align: center;
}
.menu ul li{
  display: inline-block;
  margin: 0 -2px;
  position: relative;
}
.menu ul li a{
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
  padding: 10px 20px;
  background-color: greenyellow;
  color: blue;
position: relative;
display: block;
}
.menu ul li a:hover{
  background-color: cornflowerblue;
  color: #fff;
  }
.menu ul li a::after{
   position: absolute;
   content: " ";
   top: 0;
   left: 0;
   width: 0%;
   height: 2px;
   background-color: red;
   transition: 0.5s;
   -webkit-transition: 0.5s;
   -moz-transition: 0.5s;
   -ms-transition: 0.5s;
   -o-transition: 0.5s;
}
.menu ul li a:hover::after{
  width: 100%;
  }
.menu ul li ul{
  position: absolute;
  top: 43px;
  left: -43px;
  width: 200px;
  background-color:gray;
  display: none;
}
.menu ul li:hover > ul{
  display: block;
}
.menu ul li ul li{
  width: 100%;
  position: relative;
}
.menu ul li ul li ul{
  position: absolute;
  top: 0;
  left: 180px;
} */



/* Practice 03  */


/* .menu{
  background-color: tomato;
}
.menu ul{
  text-align: center;
}
.menu ul li{
  display: inline-block;
  margin: 0 -2px;
  position: relative;
}
.menu ul li a{
  font-size: 20px;
  font-weight: bold;
  padding: 10px 20px;
  background-color: transparent;
  color: #fff;
position: relative;
font-family: sans-serif;
display: block;
}
.menu ul li a:hover{
  background-color: cornflowerblue;
}
.menu ul li a::after{
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: black;
  transition:0.5s;
  -webkit-transition:0.5s;
  -moz-transition:0.5s;
  -ms-transition:0.5s;
  -o-transition:0.5s;
}
.menu ul li a:hover::after{
  width: 100%;
}
.menu ul li ul{
  position: absolute;
  top: 43px;
  left: -43px;
  background-color: gray;
  width: 180px;
  display: none;
}
.menu ul li:hover > ul{
  display: block;
}
.menu ul li ul li{
  width: 100%;
  position: relative;
}
.menu ul li ul li ul{
  position: absolute;
  top: 0;
  left: -180px;
} */

/* Practice 2 */
/* .menu{
  background-color: tomato;
}
.menu ul{
  text-align: center;
}
.menu ul li{
display: inline-block;
margin: 0 -2px;
position: relative;
}
.menu ul li a{
  font-weight: bold;
  padding:10px 20px;
  background-color: transparent;
  color: wheat;
  font-size: 20px;
  position: relative;
  text-transform: capitalize;
  display: block;
}
.menu ul li a:hover{
  background-color: teal;
}
.menu ul li a::after{
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color:black;
  transition:0.5s;
  -webkit-transition:0.5s;
  -moz-transition:0.5s;
  -ms-transition:0.5s;
  -o-transition:0.5s;
  font-family: sans-serif;
}
.menu ul li a:hover::after{
  width: 100%;
}
.menu ul li ul{
  position: absolute;
  top: 43px;
  left: -43px;
  width: 200px;
  background-color: gray;
  display: none;
}
.menu ul li:hover > ul{
  display: block;
}
.menu ul li ul li{
  width: 100%;
  position: relative;
}

.menu ul li ul li ul{
  position: absolute;
  top: 0;
  left: -200px;
} */
